{% extends 'base.html' %}
{% block title %}appointment{% endblock title %}
{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(HMS) Hospital Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  

</head>



        <div id="content">
            



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 <div class="container-fluid">

                <div class="row">
                    <!-- Widget Item -->
                    <div class="col-md-12">
                        <div class="widget-area-2 proclinic-box-shadow">
                            <h3 class="widget-title">Add Report</h3>
                            <form class="form-horizontal form-material mb-0" id="service_form" method="post" enctype="multipart/form-data">
                                <div class="form-row">
                                    <input type="hidden" name="token" value="7eed57dced1b16ad3ee2bef71138c27f92553b69">
                                    <input type="hidden" name="request_user_id" value="1">
                                    <input type="hidden" name="content" value="outdoor_service">

                                    <div class="form-group col-md-6">
                                        <label for="patient-name">Report Name<i class="text-danger"> * </i></label>
                                        <input type="text" class="form-control" placeholder="Report name" id="outdoor_service_name" name="report_name" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="discharge-date">Report Category<i class="text-danger"> * </i></label>
                                        <select class="form-control" id="outdoor_service_Category" name="report_category">
                                            <option value="">Select Report Category</option>
                                            <option value="Admission">Orthopadic</option>
                                            <option value="Doctor Visit">Cemo </option>
                                            <option value="Procedures">Procedures</option>
                                            <option value="Physiotherapy">Physiotherapy</option>
                                            <option value="OT">OT</option>
                                            <option value="Investigation/Test">OCD/Test</option>
                                        </select>
                                    </div>
                                 
                                </div>

                                    <div class="form-group col-md-12">
                                        <label for="exampleFormControlTextarea1">Report Description</label>
                                        <textarea placeholder="Description" class="form-control" id="report_description" name="report_description" rows="3"></textarea>
                                    </div>
                                    {% comment %} <div>
                                        <label for="report">Report(image/Pdf)<i class="text-danger"> * </i></label>
                                        <input type="file" class="form-control" placeholder="report_file" id="outdoor_service_name" name="report_file" >
                                    </div> {% endcomment %}
                                    {% comment %} <div class="mb-3">
                                        <label for="report_file" class="form-label">Report(image/Pdf)</label>
                                        <input class="form-control form-control-sm" id="report_file" type="file" name="report_file" >
                                      </div> {% endcomment %}
                                      
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Report(image/Pdf)</label>
                                        <input class="form-control" type="file" id="formFile" name="report_file">
                                    </div>
                                   
                                </div>
                                    <div class="form-group col-md-6 mb-3">
                                        <br>
                                        <br>
                                        <button type="submit" class="btn btn-primary btn">Submit</button>
                                    </div>
                                </div>
                            </form>
                            <div id="loader"></div>
                        </div>
                    </div>
                    <!-- /Widget Item -->
                </div>
            </div>
            <div>

            </div>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
<br><a class ="btn btn-sm btn-info" href="/report">Go back</a><br><nr>

</html>
{% endblock body %}



