{% extends 'base.html' %}
{% block title %}aboutpage{% endblock title %}
{% block body %}

<h1 {text-align: center;}></h1>
<head>
    <style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    </style>
    </head>
    <body>
    
    <h1><br><br>Congratulatios!! <br></h1>
       <p> We got youur information<br>
        Your Appointment is ready as per your information...<br><br>
        <br>
         <b>Video Consultaion Will be in Google Meet Platform</b>
         <br> <b> Meet link:</b><a href="url">https://meet.google.com/amv-xgnu-mrx</a> <br><br>
         <br> Get ready with your Patient
         <br> Upload the Patient report timely before starting the consultation
        We will sent the rest information over the phone message..<br>
        We will get back to you very soon
    <br> Thank you for you support</p>
    <p><br><a class ="btn btn-sm btn-success" href="/housePatient">Go back</a><br><nr>
    <br><a class ="btn btn-sm btn-info" href="/appointment">Go to Main Menu</a><br><nr>
        <br><a class ="btn btn-sm btn-danger" href="/logout">logout</a><br>
        <br></p>
    </body>


{% endblock body %}
